.glavn_name {
    font-size: 55px;
}

.portal {
    font-size: 30px;
}

.hitman {
    width: 230px;
    height: 470px;
}

.txt {
    font-size: 15px;
}

.font {
    font-size: 30px;
}

.headers {
    font-size: 19px;
}

.txt_inf {
    font-size: 14px;
}

.txt_content {
    font-size: 13px;
}

.gif {
    width: 170px;
    height: 200px;
}

.end {
    font-size: 27px;
}

.riviews {
    width: 180px;
}

.txt-riviews {
    font-size: 33px;
}

.breadcrumb {
    font-size: 18px
}

.img_employes {
    width: 100px;
}

.name-employes,
.txt-employes {
    font-size: 27px;
}