@import url(style.css);
@import url(aboutUS-desktop.css) (min-width: 1024px);
@import url(aboutUS-tablet.css) (min-width: 769px) and (max-width: 1023px);
@import url(aboutUS-mobile.css) (max-width: 768px);
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:700|Underdog|Amatic+SC|Lobster|Marck+Script|Open+Sans|Raleway|Ubuntu + Condensed");
body {
  background: url("../assets/glavn/fon.png");
}

.glavn {
  background: url("../assets/aboutUs/VaultOfEpicGames.jpg");
  background-size: cover;
  font-family: "jokerman", jokerman;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.644), 0 0 2em rgb(0, 0, 0);
}

.employes {
  background: url("../assets/aboutUS/employes.jpg");
  background-size: cover;
}

.we {
  background: url("../assets/glavn/qw.gif");
  background-size: cover;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.portal,
.txt {
  font-family: 'Underdog', cursive;
}

.position {
  font-family: "Open Sans", sans-serif;
}

.FI {
  font-family: 'Underdog', cursive;
}

.txt-riviews {
  font-family: "Segoe UI Black";
}

.end {
  font-family: "Marck Script", cursive;
  text-shadow: 5px 5px 20px rgb(47, 11, 207), 0 0 5em rgb(42, 84, 199);
}

.black {
  background: rgb(0, 0, 0);
}

.rgba {
  background: rgba(0, 0, 0, 0.5)
}

.question {
  font-family: "Raleway", sans-serif;
  color: #a0b0b6;
}

.question:visited {
  color: #a0b0b6;
}

.question:hover {
  color: #324ad3;
}

.txt-employes {
  text-align: center;
  font-family: "Monotype Corsiva";
}

.name-employes {
  text-align: center;
  font-family: "Harrington";
}

.grow:hover {
  -webkit-transform: scale(2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.rotate:hover {
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(2deg);
  color: #fff;
}

.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}