.batton {
    font-size: 25px;
}

.logimg {
    width: 205px;
    height: 60px;
    margin-right: 30px
}

.houseimg {
    width: 35px;
    height: 40px;
}

.dzhostikimg,
.calendarimg {
    width: 40px;
    height: 40px;
}

.aboutimg {
    width: 70px;
    height: 40px;
}

.noavatar {
    width: 30px;
    border-radius: 10px;
}

@keyframes pulse {
    50% {
        border: 9px solid white;
    }
}

/*----П-О-Д-В-А-Л-------------------------------------------------------------------------------------------------------*/

.Footer {
    font-size: 17px;
}